<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Daftar Product</title>
</head>
<body>
<section layout:fragment="content">
    <h2>Daftar Produk</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Kode Product</th>
                <th>Nama Product</th>
                <th>Harga</th>
                <th>&nbsp</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productData : ${productData}">
                <td th:text="${productData.code}"></td>
                <td th:text="${productData.name}"></td>
                <td th:text="${productData.price}"></td>
                <td>
                    <a href="">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>